<div ng-init="init()">
<div class="row above-table-actions-row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
    <div class="col-sm-4">
        <input ng-model="searchInput" class="form-control" placeholder="Search by first or last name, or teacher key" />
    </div>
    <div class="col-sm-4">
      <ui-select ng-model="$parent.selectedDistrict" theme="select2" on-select="selectDistrict($item, $model)">
        <ui-select-match>
          <span ng-bind="$select.selected.DistrictName"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (districtArray | filter: $select.search) track by item.DistrictKey">
          <span ng-bind="item.DistrictName"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-4">
      <ui-select ng-model="$parent.selectedSchool" ng-disabled="selectedDistrict.DistrictName == 'Select District'" theme="select2" on-select="selectSchool($item, $model)">
        <ui-select-match>
          <span ng-bind="$select.selected.SchoolName"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (schoolArray | filter: $select.search) track by item.SchoolKey">
          <span ng-bind="item.SchoolName"></span>
        </ui-select-choices>
      </ui-select>
    </div>
</div>
<div class="row">
    <table class="ump-table" style="position:relative;">
        <tr>
            <th>
                <div class="heading-title">District</div>
            </th>
            <th>
                <div class="heading-title">School</div>
            </th>
            <th>
                <div class="heading-title">First Name</div>
            </th>
            <th>
                <div class="heading-title">Last Name</div>
            </th>
            <th>
                <div class="heading-title">Teacher Key</div>
            </th>
            <th>
                <div class="heading-title">Schedule Count</div>
            </th>
        </tr>
        <tr ng-if="teachers && teachers.length == 0"><td colspan="7">No Teachers</td></tr>
        <tr ng-repeat="teacher in teachers">
          <td>{{teacher.DistrictName}}</td>
          <td>{{teacher.SchoolName}}</td>
          <td>{{teacher.FirstName}}</td>
          <td>{{teacher.LastName}}</td>
          <td>{{teacher.TeacherKey}}</td>
          <td>{{teacher.ScheduleCount}}</td>
        </tr>
    </table>
</div>
</div>
