<div ng-init="init()">
<div class="row above-table-actions-row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
            <div class="col-sm-4">
                <input ng-model="searchInput" class="form-control" placeholder="Search by first or last name, or email" />
            </div>
            <div class="col-sm-4">
              <ui-select ng-model="$parent.selectedDistrict" theme="select2" on-select="selectDistrict($item, $model)">
                <ui-select-match>
                  <span ng-bind="$select.selected.DistrictName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (districtArray | filter: $select.search) track by item.DistrictKey">
                  <span ng-bind="item.DistrictName"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-sm-4">
              <ui-select ng-model="$parent.selectedUserType" theme="select2" on-select="selectUserType($item, $model)">
                <ui-select-match>
                  <span ng-bind="$select.selected.Name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (userTypeArray | filter: $select.search) track by item.IgorUserRoleKey">
                  <span ng-bind="item.Name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
        </div>
        <div class="row">
            <table class="inga-table row-link" style="position:relative;">
                <tr>
                    <th>
                        <div class="search-box"><span class="search-box-title">Name</span></div>
                    </th>
                    <th>
                        <div class="heading-title" ng-click="toggleHeading1()">Username</div>
                    </th>
                    <th>
                        <div class="heading-title" ng-click="toggleHeading2()">Email</div>
                    </th>
                    <th>
                        <div class="heading-title" ng-click="toggleHeading3()">Last Login</div>
                    </th>
                    <th>
                        <div class="heading-title" ng-click="toggleHeading4()">Locked Out</div>
                    </th>
                    <th>
                        <div class="heading-title" ng-click="toggleHeading4()">Roles</div>
                    </th>
<!--                    <th></th>-->
                </tr>
                <tr ng-if="users && users.length == 0"><td colspan="7">No Users</td></tr>
                <tr ng-repeat="user in users" row-link="/user/{{user.UserKey}}">
                  <td>{{user.FirstName}} {{user.LastName}}</td>
                  <td>{{user.Username}}</td>
                  <td>{{user.Email}}</td>
                  <td>{{user.LastActivityDate | date:'medium'}}</td>
                  <td>{{user.IsLockedOut}}</td>
                  <td>
                    <span ng-if="user.Roles.length > 3">{{user.Roles.length}} Roles</span>
                    <span ng-repeat="role in user.Roles" ng-if="user.Roles.length < 4">{{role}}, </span></td>
<!--                  <td></td>-->
                </tr>
            </table>
        </div>
      </div>
