<div ng-init="init()" class="edit-user">
    <hr>
    <div class="row">
        <div class="col-sm-12" ng-if="errorMessage">
            <h4 style="color: #ff6a6a">{{errorMessage}}</h4>
        </div>
        <form novalidate>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group ">
                    <label class="control-label requiredField" for="email">
                        Email
                    </label>
                    <input ng-model="user.Email" class="form-control" id="email" name="email" type="email" required/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                        Username
                    </label>
                    <input ng-model="user.Username" class="form-control" id="username" name="username" ng-disabled="!user.IsUsernameEditable" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                        First Name
                    </label>
                    <input ng-model="user.FirstName" class="form-control" id="firstName" name="firstName" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                        Last Name
                    </label>
                    <input ng-model="user.LastName" class="form-control" id="firstName" name="firstName" type="text" />
                </div>
                <div class="form-group " ng-if="inNewUser">
                    <label class="control-label requiredField" for="newPassword">
                        Password
                    </label>
                    <input ng-model="user.Password" class="form-control" id="password" name="password" type="password" />
                </div>

                <div class="form-group " ng-if="!inNewUser">
                    <label class="control-label change-password-text" for="name" ng-click="toggleShowPassword()">
                        Change Password
                    </label>
                </div>
                {{user.OldUsername}}
                {{user.Username}}
                {{newPassword}}
                {{confirmPassword}}
                <div uib-collapse="hidePasswordFields && user.OldUsername == user.Username" ng-if="!inNewUser">
                    <div class="form-group ">
                        <label class="control-label requiredField" for="newPassword">
                            New Password
                        </label>
                        <input ng-model="$parent.newPassword" class="form-control" id="newPassword" name="newPassword" type="password" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="confirmPassword">
                            Confirm Password
                        </label>
                        <input ng-model="$parent.confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword" type="password" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group ">
                    <label class="control-label " for="select">
                        User Type
                    </label>
                    <select ng-change="selectUserType()" ng-model="userType" class="select form-control" id="select" name="select">
                        <option value="1">
                            Classroom User
                        </option>
                        <option value="2">
                            School User
                        </option>
                        <option value="3">
                            District User
                        </option>
                        <option value="4">
                            ISD User
                        </option>
                        <option value="5">
                            Aggregate Only School User
                        </option>
                        <option value="6">
                            Aggregate Only District User
                        </option>
                        <option value="7">
                            Aggregate Only ISD User
                        </option>
                    </select>
                </div>
                <div class="form-group" ng-if="isdUser || districtUser || schoolUser || classroomUser">
                    <label class="control-label" for="isd-select" >
                        ISD
                    </label>
                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="$parent.ISD"
                    ng-options="isd as isd.ISDName for isd in isdArray track by isd.ISDKey"
                    ng-change="selectISD()" ng-disabled="!$parent.$parent.isdUser && !$parent.$parent.godUser">
                        <!-- <option ng-repeat="option in isdArray" value="{{option.ISDKey}}">{{option.ISDName}}</option> -->
                    </select>
                </div>
                <div class="form-group" ng-if="districtUser || schoolUser || classroomUser">
                    <label class="control-label" for="district-select">
                        District
                    </label>
                    <ui-select multiple ng-model="$parent.$parent.user.Districts" theme="select2"
                    on-remove="removeDistrict($item, $model)" on-select="selectDistrict($item, $model)"
                    ng-disabled="!$parent.$parent.ISD">
                        <ui-select-match placeholder="Select district...">
                            {{$item.DistrictName}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (districtArray | filter: $select.search) track by item.DistrictKey">
                            <span ng-bind="item.DistrictName"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-if="schoolUser || classroomUser">
                    <label class="control-label" for="school-select">
                        School
                    </label>
                    <ui-select multiple ng-model="$parent.user.Schools" theme="select2" on-select="selectSchool($item, $model)"
                    ng-disabled="!$parent.user.Districts || $parent.user.Districts.length == 0">
                        <ui-select-match placeholder="Select school...">
                            {{$item.SchoolName}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (schoolArray | filter: $select.search) track by item.SchoolKey">
                            <span ng-bind="item.SchoolName"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-if="classroomUser" ng-repeat="school in user.Schools">

                    <label class="control-label" for="school-teacher-select">
                        {{school.SchoolName}} Teachers
                    </label>
                    <ui-select multiple ng-model="school.selectedTeachers" theme="select2">
                        <ui-select-match placeholder="Select teacher...">
                            {{$item.FirstName}} {{$item.LastName}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (school.schoolTeachers | filter: $select.search) track by item.SchoolTeacherKey">
                            <span ng-bind="item.FirstName + ' ' + item.LastName"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group" id="lockedOut">
                    <div class="checkbox-inline-div">
                        <label class="checkbox-inline">
                            <input ng-model="user.IsLockedOut" name="checkbox" type="checkbox" value="" />
                        </label>
                    </div>
                    <label class="control-label " for="checkbox">
                        Is Locked Out
                    </label>
                </div>
                <div class="form-group" id="userAgreement">
                    <div class="checkbox-inline-div">
                        <label class="checkbox-inline">
                            <input ng-model="user.SignedUserAgreement" name="checkbox" type="checkbox" value="" />
                        </label>
                    </div>
                    <label class="control-label " for="checkbox">
                        Signed User Agreement
                    </label>
                </div>

                <div class="form-group ">
                    <label class="control-label ">
                        Additional Roles
                    </label>
                    <div class=" ">
                        <div class="checkbox">
                            <label class="checkbox">
                                <input name="checkbox1" type="checkbox" value="InGA Assessment Creator" ng-model="user.InGAAssessmentCreator" /> InGA Assessment Creator
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox">
                                <input name="checkbox1" type="checkbox" value="InGA Assessment Score Entry" ng-model="user.InGAAssessmentScoreEntry" /> InGA Assessment Score Entry
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox">
                                <input name="checkbox1" type="checkbox" value="UMP User" ng-model="user.UmpUser" /> UMP User
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox">
                                <input name="checkbox1" type="checkbox" value="Cohort Builder" ng-model="user.CohortBuilder" /> Cohort Builder
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox">
                                <input name="cohortPublisher" type="checkbox" ng-model="user.CohortPublisher" /> Cohort Publisher
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label " for="message">
                        Comments
                    </label>
                    <textarea ng-model="user.Comments" class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
                </div>
            </div>
        </form>

    </div>
    <!-- <div class="row">
        <pre>
        {{user}}
        </pre>
    </div> -->
</div>
