<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        @import url('fonts/avenir-regular/AvenirNextLTPro-Regular.css');
        @import url('fonts/avenir-medium/AvenirLTStd-Medium.css');
        @import url('fonts/avenir-heavy/AvenirLTStd-Heavy.css');
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<!--    <script type="text/javascript" src="js/select2.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.js"></script>
    <script type="text/javascript" src="js/vendors/ui-bootstrap-1.1.0.min.js"></script>
    <script src="js/Services/NavigationService.js"></script>
    <script src="js/Services/UsersService.js"></script>
    <script src="js/Services/TeacherService.js"></script>
    <script src="js/Controllers/BaseController.js"></script>
    <script src="js/Controllers/NavigationController.js"></script>
    <script src="js/Controllers/UsersController.js"></script>
    <script src="js/Controllers/UserController.js"></script>
    <script src="js/Controllers/TeacherController.js"></script>
    <script src="js/Controllers/BulkUploadController.js"></script>
    <script src="js/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body ng-app="UMPApp" ng-controller="navigationController">
    <div class="container">
        <div class="row">
            <div class="title-row">
                <div class="col-sm-12">
                    <h2 class="title page-title" style="display: inline-block;">{{currentRoute.name}}</h2>
                    <a href="#/users"><h4 ng-class="{'active': isActive('Users')}">USERS</h4></a>
                    <a href="#/teachers"><h4 ng-class="{'active': isActive('Teachers')}">TEACHERS</h4></a>
                    <a href="#/bulkupload"><h4 ng-class="{'active': isActive('Bulk Upload')}">BULK UPLOAD</h4></a>
                    <a href="#/user" class="btn  top-button inga-btn inga-btn-positive ng-animate-disabled" ng-if="shouldShowButton">NEW USER</a>
                    <button class="btn  top-button inga-btn inga-btn-negative ng-animate-disabled" ng-click="clearFilters()" ng-if="filtersActive && !inUserEdit">Clear Filters</button>
                    <button class="btn top-button inga-btn inga-btn-positive ng-animate-disabled" ng-click="postUser()" ng-if="inUserEdit">Save User</button>
                    <a href="#/users" class="btn top-button inga-btn inga-btn-negative ng-animate-disabled" ng-if="inUserEdit">Cancel</a>
                </div>
            </div>
        </div>
        <div class="body" ng-view></div>
    </div>
</body>

</html>
